<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title>Заявки</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="{% url 'post_new' %}">Мастер-классы</a></h1>
			</header>


		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">




						 {% for post in posts %}
			    		<div>
							<h1><a href="">{{ post.fio }}</a></h1>
			        <p-с>Телефон: {{ post.phone }}</p-с><br>
							<p-с>E-mail: {{ post.email }}</p-с><br>
							<p-с>Категория: {{ post.get_category_display }}</p-с><br>
							<p-с>Дата заявки: {{ post.published_date }}</p-с><br>
			        <p-с>Комментарий: {{ post.comment|linebreaksbr }}</p-с><br>
							<br>
							<br>
			    </div>
					{% endfor %}



				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<ul class="copyright">
						<li>RTC.TRAVEL</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
