<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title>Аграрные мастер-классы для детей</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
		{% if user.is_authenticated %}
			<header id="header" class="alt">
				<a href="{% url 'post_list' %}">Заявки</a>
			</header>
		{% endif %}


		<!-- Banner -->
			<section id="banner">
				<span class="image"><img src="{% static "images/leaves.png" %}" alt=""/></span>
				<h2>Аграрные мастер-классы для детей</h2>

			</section>

			<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<p>Современных детей трудно увлечь чем-либо, тем более удивить и заинтересовать на длительный период времени. Оригинальные мастер классы, представленные у нас, специально созданы для организации интересного детского досуга за пределами городской среды!
В зависимости от интересов и увлечений Вашего ребенка Вы можете выбрать различные мастер-классы сельскохозяйственной направленности.<br>
В настоящее время проводятся следующие виды мастер-классов:<br>
<br>
Животноводство<br>
Растениеводство<br>
Пчеловодство<br>
Рыболовство<br>
<br>

Все мастер-классы проводятся на базе ОАО «АГРОФИРМА «СРЕДНЯЯ ВОЛГА», что находится в 11 километрах от городаЧебоксары, по адресу: 429526, Чувашская Республика - Чувашия, Чебоксарский район, с Хыркасы, ул Ресторанная, д 4.
</p>
					</header>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="{% static "images/pic01.jpg" %}" alt=""/></span>
						<div class="content">
							<h2>Животноводство</h2>
							<p>Животноводство – это отрасль сельского хозяйства, специализирующаяся на разведении животных. Основные виды деятельности мастер-класса по животноводству связаны с выполнением работ по уходу за животными на фермах и сельскохозяйственных предприятиях. Данный мастер-класс способствует привитию любви к животным. В ходе мастер-класса Ваш ребёнок научится кормить телят, свиней, кур, кроликов и других домашних животных, узнает, как пасут коров и овец.</p>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="{% static "images/pic02.jpg" %}" alt=""/></span>
						<div class="content">
							<h2>Растениеводство</h2>
							<p-e>Растениеводство — отрасль сельского хозяйства, занимающаяся возделыванием культурных растений. Основная деятельность мастера-класса по растениеводству связана с выполнением работ по выращиванию и уходу за растениями.
В ходе мастер-класса Ваш ребёнок научится выполнять работы по:
<ul>
	<li>обработке почвы</li>
	<li>производству рассады и посадочного материала</li>
	<li>уходу за посевами и посадками сельскохозяйственных культур</li>
	<li>проведению мероприятий по защите растений от вредителей, сорняков</li>
	<li>сборке урожая и транспортировке к местам хранения</li>
</ul>
</p-e>

						</div>
					</article>
					<article class="feature left">
						<span class="image"><img src="{% static "images/pic03.jpg" %}" alt=""/></span>
						<div class="content">
							<h2>Пчеловодство</h2>
							<p>Пчеловодство — отрасль сельского хозяйства, которая занимается разведением медоносных пчёл для получения мёда, пчелиного воска и других продуктов. В ходе данного мастер-класса Ваш ребёнок узнает, как получают мёд, научится кормить пчёл, ухаживать за пчелиным улеем, собирать полученный мёд, а также сможет полакомиться им.</p>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="{% static "images/pic04.jpg" %}" alt=""/></span>
						<div class="content">
							<h2>Рыболовство</h2>
							<p>Рыболовство — занятие выуживанием рыбы из водоёма с целью прокорма или просто для развлечения. Данный мастер-класс привьёт Вашему ребёнку такое качество, как терпение. Ведь это одно из самых важных качеств в процессе рыбалки. В ходе мастер-класса он научится различным техникам ловли рыбы, узнает, какие виды рыб обитают в водоёмах нашей местности.</p>
						</div>
					</article>
				</div>
			</section>




		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h3>Мастер-классы проводятся по предварительной записи по мере формирования групп.</h3>
<h1>Программа мероприятия:
	<br>

10.00 Встреча и регистрация участников мастер-классов<br>
10.30-12.00 Экскурсия по ОАО «АГРОФИРМА «СРЕДНЯЯ ВОЛГА»<br>
12.00-13.00 Обед<br>
13.00-16.00 Мастер-классы по выбранным направлениям<br>
17.00-18.00 Ужин<br></h1>
<br>
<p>Стоимость мероприятия составляет 1500 рублей.<br>
Все интересующие вопросы вы можете задать по тел.: +7 906 388 84 04</p>
					</header>

				</div>
			</section>




			<!-- Four -->
				<section id="four" class="wrapper style2 special">
					<div class="inner">
						<header class="major narrow">
							<h2>Записаться на мастер-класс</h2>
							<p>Это легко и просто :)</p>
						</header>


						<form method="POST" class="post-form">{% csrf_token %}
							<div class="12u$">
							<label for="fio">ФИО: </label>
    					<input id="fio" type="text" name="fio" value="{{ fio }}">
							</div>

							<label for="phone">Телефон: </label>
    					<input id="phone" type="text" name="phone" value="{{ phone }}">

							<label for="email">Почта: </label>
    					<input id="email" type="email" name="email" value="{{ email }}">

							<label for="email">Мастер-класс: </label>
							<select name="category" required="" id="id_category">
						  <option value="" selected="">---------</option>
						  <option value="AN">Животноводство</option>
						  <option value="FL">Растениеводство</option>
						  <option value="BE">Пчеловодство</option>
						  <option value="FI">Рыболовство</option>
						  </select>

							<label for="comment">Комментарий: </label>
    					<input id="comment" type="text" name="comment" value="{{ comment }}">
						<label for="submit"> </label>
	        	<button type="submit" class="save btn btn-default">Отправить</button>
	    			</form>




					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<ul class="copyright">
						<li>RTC.TRAVEL</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
