<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title>Заявки</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>


      <section id="three" class="wrapper style3 special">
        <div class="inner">
          <header class="major narrow	">
            <h2>Ваша заявка принята, мы свяжемся с Вами в ближайшее время!</h2>
            <p><a href="{% url 'post_new' %}">Вернуться назад</a></p>
          </header>

        </div>
      </section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<ul class="copyright">
						<li>RTC.TRAVEL</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
